<!DOCTYPE html>
<html>
    <head>
        <title>Artificial Scout</title>
        <style>
            .top {
                margin-left: 570px;
            }
            .top:hover {
                cursor: pointer;
            }
            .title {
                color: #00b4ff;
                font-family: Tahoma, sans-serif;
                font-size: 40px;
            }
            .title-img {
                float: left;
                margin-right: 10px;
            }
            .top-buttons .top-button {
                background-color: #00b4ff;
                background: #00b4ff;
                color: white;
                border: none;
                padding: 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 25px;
                float: left;
                cursor: pointer;
                transition-duration: 0.4s;
                font-family: Tahoma, sans-serif;
                margin-bottom: 20px;
            }
            .top-button:hover {
                background-color: black;
            }
            .league-text {
                font-family: Tahoma, sans-serif;
                color: black;
                font-size: 40px;
            }
            .league {
                clear:both; 
                margin-left: 530px;
            }
            .table {
                border-collapse: collapse;
                font-family: Tahoma, sans-serif;
                font-size: 20px;
                clear: both;
                text-align: left;
            }
            .table-img {
                float: left;
                margin-right: 10px;
                margin-left: 150px;
            }
            .table-top {
                background-color: #00b4ff;
                color: white;
                text-align: center;
            }
            td, th {
                border: 1px solid black;
            }
            th {
                width: 520px;
            }
            .big-buttons .big-button {
                background-color: black;
                background: black;
                color: white;
                border: none;
                padding: 20px 40px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 35px;
                float: left;
                cursor: pointer;
                transition-duration: 0.4s;
                font-family: Tahoma, sans-serif;
                margin-bottom: 20px;
            }
            .big-button:hover {
                background-color: #00b4ff;
            }
            .table {
                border-collapse: collapse;
                font-family: Georgia, serif;
                clear: both;
                text-align: left;
                width: 1530px;
            }
            td, th {
                border: 1px solid black;
            }
            .division-text {
                font-style: Tahoma, sans-serif;
                color: black;
                font-size: 30px;
            }
            .top-row {
                background-color: #00b4ff;
                color: white;
            }
            .title-text {
                font-style: Tahoma, sans-serif;
                color: black;
                margin-left: 650px;
                font-size: 40px;
                clear: both;
            }
            .table-button {
                border: none;
                background: white;
                font-family: Georgia, serif;
            }
            .table-button:hover {
                cursor: pointer;
            }
            .table-top-button {
                border: none;
                background-color: #00b4ff;
                color: white;
                font-family: Georgia, serif;
            }
            .table-top-button:hover {
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="top" id='top' onclick="change_page('')">
            <img src="https://imgur.com/4TJ14y1.png" alt="Artificial Scout's Logo" width ='100' height="50" class='title-img'/>
            <h1 class="title">Artificial Scout</h1>
        </div>
        <div class="top-buttons">
            <button class="top-button" style="margin-left:450px; clear:both;"
            onclick="change_page('players')">Players</button>
            <button class="top-button" id='teams-button'
            onclick="change_page('teams')">Teams</button>
            <button class="top-button" id='leaders-button'
            onclick="change_page('leaders')">Leaders</button>
            <button class="top-button" id='standings-button'
            onclick="change_page('standings')">Standings</button>
            <button class="top-button" id='salary-button'
            onclick="change_page('salaries')">Salary Projector</button>
        </div>
        <br>
        <div class="big-buttons">
            <button class="big-button" style="margin-left:425px; clear:both;"
            onclick="change_page('leaders/hitting')">Hitting</button>
            <button class="big-button"
            onclick="change_page('leaders/pitching')">Pitching</button>
            <button class="big-button"
            onclick="change_page('leaders/fielding')">Fielding/Running</button>
        </div>
        <h1 class="title-text">Hitting Leaders</h1>
        <h1 class="division-text" style="margin-left: 675px;">Standard Hitting</h1>
        <input style='margin-left:300px;' type='checkbox' id='percent1' onclick='percentile(1);'>Percentiles
        <input type='checkbox' id='ascend1'onclick='ascending(1);'>Ascending
        <input type='number' id='start1'>
         to <input type='number' id='end1'>
        <button onclick='set_start_end(1);'>Submit</button>
        <table class="table">
            <tr class="top-row">
                <th><button class='table-top-button' onclick="sortBy(1, 'Name');">Name</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'Team');">Team</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'FLDPos');">Pos</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'G');">G</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'AB');">AB</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'PA');">PA</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'H');">H</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, '2B');">2B</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, '3B');">3B</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'HR');">HR</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'BB');">BB</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'HBP');">HBP</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'TB');">TB</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'R');">R</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'RBI');">RBI</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'SB');">SB</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'CS');">CS</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'SO');">SO</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'GDP');">GDP</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'AVG');">AVG</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'OBP');">OBP</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'SLG');">SLG</button></th>
                <th><button class='table-top-button' onclick="sortBy(1, 'OPS');">OPS</button></th>
            </tr>
            {% for x in basic_batting %}
            <tr>
                <th><button class='table-button' onclick = 'load_player("{{x.Name}}");'>{{x.Name}}</button></th>
                <th><button class='table-button' onclick='load_team_abbr("{{x.Team}}");'>{{x.Team}}</button></th>
                <th>{{x.Pos}}</th>
                <th>{{x.G}}</th>
                <th>{{x.AB}}</th>
                <th>{{x.PA}}</th>
                <th>{{x.H}}</th>
                <th>{{x.Doubles}}</th>
                <th>{{x.Triples}}</th>
                <th>{{x.HR}}</th>
                <th>{{x.BB}}</th>
                <th>{{x.HBP}}</th>
                <th>{{x.TB}}</th>
                <th>{{x.R}}</th>
                <th>{{x.RBI}}</th>
                <th>{{x.SB}}</th>
                <th>{{x.CS}}</th>
                <th>{{x.SO}}</th>
                <th>{{x.GDP}}</th>
                <th>{{x.AVG}}</th>
                <th>{{x.OBP}}</th>
                <th>{{x.SLG}}</th>
                <th>{{x.OPS}}</th>
            </tr>
            {% endfor %}
        </table>
        <h1 class="division-text" style="margin-left: 675px;">Advanced Hitting</h1>
        <input style='margin-left:300px;' type='checkbox' id='percent2' onclick='percentile(2);'>Percentiles
        <input type='checkbox' id='ascend2'onclick='ascending(2);'>Ascending
        <input type='number' id='start2'>
         to <input type='number' id='end2'>
        <button onclick='set_start_end(2);'>Submit</button>
        <table class="table">
            <tr class="top-row">
                <th><button class='table-top-button' onclick="sortBy(2, 'Name');">Name</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'Team');">Team</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'FLDPos');">Pos</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'G');">G</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'PA');">PA</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'AVG');">AVG</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'OBP');">OBP</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'SLG');">SLG</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'OPS');">OPS</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'wRC+');">WRC+</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'wOBA');">wOBA</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'ISO');">ISO</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'BABIP');">BABIP</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'Clutch');">Clutch</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'BB%');">BB%</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'K%');">K%</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'HR%');">HR%</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'Bat');">Offensive Runs</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'Fld');">Defensive Runs</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'WAR');">fWAR</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'bWAR');">bWAR</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'aWAR');">aWAR</button></th>
                <th><button class='table-top-button' onclick="sortBy(2, 'WPA');">WPA</button></th>
            </tr>
            {% for x in advanced_batting %}
            <tr>
                <th><button class='table-button' onclick = 'load_player("{{x.Name}}");'>{{x.Name}}</button></th>
                <th><button class='table-button' onclick='load_team_abbr("{{x.Team}}");'>{{x.Team}}</button></th>
                <th>{{x.Pos}}</th>
                <th>{{x.G}}</th>
                <th>{{x.PA}}</th>
                <th>{{x.AVG}}</th>
                <th>{{x.OBP}}</th>
                <th>{{x.SLG}}</th>
                <th>{{x.OPS}}</th>
                <th>{{x.wRC}}</th>
                <th>{{x.wOBA}}</th>
                <th>{{x.ISO}}</th>
                <th>{{x.BABIP}}</th>
                <th>{{x.Clutch}}</th>
                <th>{{x.BB}}</th>
                <th>{{x.K}}</th>
                <th>{{x.xBA}}</th>
                <th>{{x.OFF}}</th>
                <th>{{x.DEF}}</th>
                <th>{{x.fWAR}}</th>
                <th>{{x.bWAR}}</th>
                <th>{{x.aWAR}}</th>
                <th>{{x.WPA}}</th>
            </tr>
            {% endfor %}
        </table>
        <h1 class="division-text" style="margin-left: 675px;">Statcast Hitting</h1>
        <input style='margin-left:300px;' type='checkbox' id='percent3' onclick='percentile(3);'>Percentiles
        <input type='checkbox' id='ascend3'onclick='ascending(3);'>Ascending
        <input type='number' id='start3'>
         to <input type='number' id='end3'>
        <button onclick='set_start_end(3);'>Submit</button>
        <table class="table">
            <tr class="top-row">
                <th><button class='table-top-button' onclick="sortBy(3, 'Name');">Name</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'Team');">Team</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'FLDPos');">Pos</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'PA');">PA</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'Barrel%');">Barrel%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'HardHit%');">Hard Hit%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'LD%');">LD%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'GB%');">GB%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'FB%');">FB%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'O-Swing%');">Swing% Outside Zone</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'Z-Swing%');">Swing% Inside Zone</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'Contact%');">Contact%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'Pull%');">Pull%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'Cent%');">Cent%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'Oppo%');">Oppo%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'SwStr%');">Whiff%</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'EV');">Avg Exit Velo</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'maxEV');">Max Exit Velo</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'LA');">Launch Angle</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'xBA');">xBA</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'xSLG');">xSLG</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'xwOBA');">xWOBA</button></th>
                <th><button class='table-top-button' onclick="sortBy(3, 'BABIP');">BABIP</button></th>
            </tr>
            {% for x in statcast_batting %}
            <tr>
                <th><button class='table-button' onclick = 'load_player("{{x.Name}}");'>{{x.Name}}</button></th>
                <th><button class='table-button' onclick='load_team_abbr("{{x.Team}}");'>{{x.Team}}</button></th>
                <th>{{x.Pos}}</th>
                <th>{{x.PA}}</th>
                <th>{{x.Barrel}}</th>
                <th>{{x.HardHit}}</th>
                <th>{{x.LA}}</th>
                <th>{{x.GB}}</th>
                <th>{{x.FB}}</th>
                <th>{{x.O_Swing}}</th>
                <th>{{x.Z_Swing}}</th>
                <th>{{x.Contact}}</th>
                <th>{{x.Pull}}</th>
                <th>{{x.Cent}}</th>
                <th>{{x.Oppo}}</th>
                <th>{{x.Whiff}}</th>
                <th>{{x.Avg_EV}}</th>
                <th>{{x.Max_EV}}</th>
                <th>{{x.LA}}</th>
                <th>{{x.xBA}}</th>
                <th>{{x.xSLG}}</th>
                <th>{{x.xwOBA}}</th>
                <th>{{x.BABIP}}</th>
            </tr>
            {% endfor %}
        </table>
        <h1 class="division-text" style="margin-left: 675px;">Projected Hitting</h1>
        <input style='margin-left:300px;' type='checkbox' id='percent4' onclick='percentile(4);'>Percentiles
        <input type='checkbox' id='ascend4'onclick='ascending(4);'>Ascending
        <input type='number' id='start4'>
         to <input type='number' id='end4'>
        <button onclick='set_start_end(4);'>Submit</button>
        <table class="table">
            <tr class="top-row">
                <th><button class='table-top-button' onclick="sortBy(4, 'Name');">Name</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'Team');">Team</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'FLDPos');">Pos</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'G');">G</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'PA');">PA</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'H');">H</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'HR');">HR</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'R');">R</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'RBI');">RBI</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'SB');">SB</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'BB');">BB</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'AVG');">AVG</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'OBP');">OBP</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'SLG');">SLG</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'OPS');">OPS</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'wRC+');">WRC+</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'wOBA');">wOBA</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'Bat');">Offensive Runs</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'WAR');">fWAR</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'bWAR');">bWAR</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'aWAR');">aWAR</button></th>
                <th><button class='table-top-button' onclick="sortBy(4, 'WPA');">WPA</button></th>
            </tr>
            {% for x in projected_batting %}
            <tr>
                <th><button class='table-button' onclick = 'load_player("{{x.Name}}");'>{{x.Name}}</button></th>
                <th><button class='table-button' onclick='load_team_abbr("{{x.Team}}");'>{{x.Team}}</button></th>
                <th>{{x.Pos}}</th>
                <th>{{x.G}}</th>
                <th>{{x.PA}}</th>
                <th>{{x.H}}</th>
                <th>{{x.HR}}</th>
                <th>{{x.R}}</th>
                <th>{{x.RBI}}</th>
                <th>{{x.SB}}</th>
                <th>{{x.BB}}</th>
                <th>{{x.AVG}}</th>
                <th>{{x.OBP}}</th>
                <th>{{x.SLG}}</th>
                <th>{{x.OPS}}</th>
                <th>{{x.wRC}}</th>
                <th>{{x.wOBA}}</th>
                <th>{{x.OFF}}</th>
                <th>{{x.fWAR}}</th>
                <th>{{x.bWAR}}</th>
                <th>{{x.aWAR}}</th>
                <th>{{x.WPA}}</th>
            </tr>
            {% endfor %}
        </table>
        <script>
            var base_url = window.location.href.split('leaders')[0];

            function to_bool(text) {
                return text.includes('t');
            }

            if (window.location.href.includes('basic')) {
                var split = window.location.href.split('leaders/hitting/?')[1].split('?');
                for (var i = 0; i < 4; i++) {
                    document.getElementById('percent' + (i+1)).checked = to_bool(split[i].split(',')[4]);
                    document.getElementById('ascend' + (i+1)).checked = to_bool(split[i].split(',')[3]);
                }
            }

            function load_player(name) {
                window.location.href = base_url + 'players/player/?' + name.replace(' ', '+');
            }

            function load_team_abbr(team) {
                window.location.href = base_url + 'teams/team/?' + team;
            }
            
            function change_page(new_page) {
                window.location.href = base_url + new_page;
            }

            function set_start_end(type) {
                var url = window.location.href;
                var output = url.split('leaders')[0] + 'leaders/hitting/';
                var split = [];
                var hit = [];
                var pitch = [];
                var field = [];
                var proj = [];
                if (document.getElementById('start' + type).value == null || document.getElementById('end' + type).value == null) {
                    return;
                }
                var start = document.getElementById('start' + type).value;
                var end = document.getElementById('end' + type).value;
                if (url.includes('basic')) {
                    split = url.split('leaders/hitting/?')[1].split('?');
                }
                else {
                    split = ['basic=TB,0,10,f,f', 'advanced=aWAR,0,10,f,f', 'statcast=xwOBA,0,10,f,f', 'projected=aWAR,0,10,f,f'];
                }
                hit = split[0].split('=')[1].split(',');
                pitch = split[1].split('=')[1].split(',');
                field = split[2].split('=')[1].split(',');
                proj = split[3].split('=')[1].split(',');
                if (type == 1) {
                    output = '?basic=' + hit[0] + ',' + start + ',' + end + ',' + hit[3] + ',' + hit[4];
                    output += '?' + split[1] + '?' + split[2] + '?' + split[3];
                }
                else if (type == 2) {
                    output = '?' + split[0];
                    output += '?advanced=' + pitch[0] + ',' + start + ',' + end + ',' + pitch[3] + ',' + pitch[4];
                    output += '?' + split[2] + '?' + split[3];
                }
                else if (type == 3) {
                    output = '?' + split[0] + '?' + split[1];
                    output += '?statcast=' + field[0] + ',' + start + ',' + end + ',' + field[3] + ',' + field[4];
                    output += '?' + split[3];
                }
                else {
                    output = '?' + split[0] + '?' + split[1] + '?' + split[2];
                    output += '?projected=' + proj[0] + ',' + start + ',' + end + ',' + proj[3] + ',' + proj[4];
                }
                window.location.href = output;
            }

            function ascending(type) {
                var url = window.location.href;
                var output = url.split('leaders')[0] + 'leaders/hitting/';
                var split = [];
                var hit = [];
                var pitch = [];
                var field = [];
                var proj = [];
                var isAscend = document.getElementById('ascend' + type).checked;
                if (url.includes('basic')) {
                    split = url.split('leaders/hitting/?')[1].split('?');
                }
                else {
                    split = ['basic=TB,0,10,f,f', 'advanced=aWAR,0,10,f,f', 'statcast=xwOBA,0,10,f,f', 'projected=aWAR,0,10,f,f'];
                }
                hit = split[0].split('=')[1].split(',');
                pitch = split[1].split('=')[1].split(',');
                field = split[2].split('=')[1].split(',');
                proj = split[3].split('=')[1].split(',');
                if (type == 1) {
                    output = '?basic=' + hit[0] + ',' + hit[1] + ',' + hit[2] + ',' + isAscend + ',' + hit[4];
                    output += '?' + split[1] + '?' + split[2] + '?' + split[3];
                }
                else if (type == 2) {
                    output = '?' + split[0];
                    output += '?advanced=' + pitch[0] + ',' + pitch[1] + ',' + pitch[2] + ',' + isAscend + ',' + pitch[4];
                    output += '?' + split[2] + '?' + split[3];
                }
                else if (type == 3) {
                    output = '?' + split[0] + '?' + split[1];
                    output += '?statcast=' + field[0] + ',' + field[1] + ',' + field[2] + ',' + isAscend + ',' + field[4];
                    output += '?' + split[3];
                }
                else {
                    output = '?' + split[0] + '?' + split[1] + '?' + split[2];
                    output += '?projected=' + proj[0] + ',' + proj[1] + ',' + proj[2] + ',' + isAscend + ',' + proj[4];
                }
                window.location.href = output;
            }

            function percentile(type) {
                var url = window.location.href;
                var output = url.split('leaders')[0] + 'leaders/hitting/';
                var split = [];
                var hit = [];
                var pitch = [];
                var field = [];
                var proj = [];
                var isPercentile = document.getElementById('percent' + type).checked;
                if (url.includes('basic')) {
                    split = url.split('leaders/hitting/?')[1].split('?');
                }
                else {
                    split = ['basic=TB,0,10,f,f', 'advanced=aWAR,0,10,f,f', 'statcast=xwOBA,0,10,f,f', 'projected=aWAR,0,10,f,f'];
                }
                hit = split[0].split('=')[1].split(',');
                pitch = split[1].split('=')[1].split(',');
                field = split[2].split('=')[1].split(',');
                proj = split[3].split('=')[1].split(',');
                if (type == 1) {
                    output = '?basic=' + hit[0] + ',' + hit[1] + ',' + hit[2] + ',' + hit[3] + ',' + isPercentile;
                    output += '?' + split[1] + '?' + split[2] + '?' + split[3];
                }
                else if (type == 2) {
                    output = '?' + split[0];
                    output += '?advanced=' + pitch[0] + ',' + pitch[1] + ',' + pitch[2] + ',' + pitch[3] + ',' + isPercentile;
                    output += '?' + split[2] + '?' + split[3];
                }
                else if (type == 3) {
                    output = '?' + split[0] + '?' + split[1];
                    output += '?statcast=' + field[0] + ',' + field[1] + ',' + field[2] + ',' + field[3] + ',' + isPercentile;
                    output += '?' + split[3];
                }
                else {
                    output = '?' + split[0] + '?' + split[1] + '?' + split[2];
                    output += '?projected=' + proj[0] + ',' + proj[1] + ',' + proj[2] + ',' + proj[3] + ',' + isPercentile;
                }
                window.location.href = output;
            }
    
            function sortBy(type, val) {
                var url = window.location.href;
                var output = url.split('leaders')[0] + 'leaders/hitting/';
                var split = [];
                var hit = [];
                var pitch = [];
                var field = [];
                var proj = [];
                if (url.includes('basic')) {
                    split = url.split('leaders/hitting/?')[1].split('?');
                }
                else {
                    split = ['basic=TB,0,10,f,f', 'advanced=aWAR,0,10,f,f', 'statcast=xwOBA,0,10,f,f', 'projected=aWAR,0,10,f,f'];
                }
                hit = split[0].split('=')[1].split(',');
                pitch = split[1].split('=')[1].split(',');
                field = split[2].split('=')[1].split(',');
                proj = split[3].split('=')[1].split(',');
                if (type == 1) {
                    output = '?basic=' + val + ',' + hit[1] + ',' + hit[2] + ',' + hit[3] + ',' + hit[4];
                    output += '?' + split[1] + '?' + split[2] + '?' + split[3];
                }
                else if (type == 2) {
                    output = '?' + split[0];
                    output += '?advanced=' + val + ',' + pitch[1] + ',' + pitch[2] + ',' + pitch[3] + ',' + pitch[4];
                    output += '?' + split[2] + '?' + split[3];
                }
                else if (type == 3) {
                    output = '?' + split[0] + '?' + split[1];
                    output += '?statcast=' + val + ',' + field[1] + ',' + field[2] + ',' + field[3] + ',' + field[4];
                    output +='?' + split[3];
                }
                else {
                    output = '?' + split[0] + '?' + split[1] + '?' + split[2];
                    output += '?projected=' + val + ',' + proj[1] + ',' + proj[2] + ',' + proj[3] + ',' + proj[4];
                }
                window.location.href = output;
            }
        </script>
    </body>
</html>